
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	display: flex;
    height:100vh;

}
h1{
    padding-bottom: 1rem;
}
label{
    display:block;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
}
input{
    display:flex;
    font-size:20px;
    margin:auto;
    margin-top:1rem;
    border-radius:0.3rem;
    padding:.5rem;
    margin-bottom:10px;
    height: 38px;
    max-width:250px;
    box-sizing: border-box;

}

button{
    margin-bottom: 1rem;
    font-size:25px;
    background-color:white;
    color:black;
    border-radius:0.4rem;
    padding:.5rem;
}
.left{
    display:flex;
    width:50%;
    background-color: black;
    text-align: center;
    padding-top:auto;
    color:white;
    flex-direction: column;
    justify-content: center;
}

.right{
    width:50%;
    background-color: white;
    text-align: center;
    padding-top:auto;
    display: flex;

}
.right > div{
    width:70%;
    margin:auto;
    font-size:2rem;
}
@media screen and (max-width:580px){
    label{
        font-size: 1em;
    }
    input{
        font-size: small;
        width: 150px;
        height:30px;
    }
    button{
        font-size: small;
    }
    h1{
        font-size:1.2em;
    }
    .right > div{
        font-size:1.2em;
    }

}
@media screen and (max-width:360px){
    label{
        font-size: xx-small;
    }
    input{
        font-size: xx-small;
        width: 90px;
        height:20px;
    }
    button{
        font-size: 0.5rem;
    }
    h1{
        font-size:small;
    }
    .right > div{
        font-size:x-small;
    }

}